@media only screen and (max-width: 767px) {
    .page{
        grid-template-rows: 8% 1fr 10%;
        grid-template-columns: 1fr;
    }
    /* --- Navbar --- */
    .navbar{
        height: 8%;
        grid-column: 1;

        display: grid;
        grid-template-columns: 1fr 0.25fr;
    }
    .navbar-header{
        display: flex;
    }
    .contentTitle{
        margin-bottom: var(--space-sm);
    }
    .content{
        grid-column: 1;
        grid-row: 2;
    }
    .homebar{
        position: fixed;

        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        height: 8%;
        grid-column: 1;
        grid-row: 3;

        display: flex;

        justify-content: space-between;

        margin-bottom: 4%;

        border-top: var(--border-width-xs) solid var(--border-strong);

        background: var(--background-secondary);
        z-index: 10;
    }
    .search-tabs-container{
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
    }
    .input-container {
        width: 100%;
        display: flex;

        box-sizing: border-box;
    }
    
    .tabs-container{
        width: 100%;
        display: grid !important;
        
        grid-template-columns: repeat(3, 1fr);

        box-sizing: border-box;
    }
    .inactive-tab, .active-tab{
        grid-column: span 1;
    }
}