.page{
    display: grid;
    width: 100%;
    height: 100vh;

    grid-template-rows: 7.5% 1fr;
    grid-template-columns: 250px 1fr;
}
/* --- Navbar --- */
.navbar{
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 250px 1fr;

    background: linear-gradient(135deg, #1a3861, #2c589d);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7.5%;
    z-index: 10;
}
.navbar-header{
    grid-column: 1;
    display: flex;

    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--space-md);

    font-weight: bolder;
    font-family: 'Poppins';
    color: var(--color-contrast);

    box-sizing: border-box;
}
.navbar-header h1{
    font-size: var(--font-md);
}
.navbar-content{
  display: flex;

  align-items: center;
  justify-content: flex-end;
}
.user-nav{
  display: flex;

  align-items: center;
}
.user-nav p{
  margin: 0;
}
/* --- Sidebar --- */
.sidebar{
    grid-row: 2;
    grid-column: 1;

    background-color: #192335;

    position: fixed;       /* stick it */
    top: 7.5%;             /* same height as navbar */
    width: 250px;          /* match your first grid column */
    height: 92.5%;         /* remaining height of viewport */
    z-index: 20;           /* below navbar but above content */
}
.sidebar.open{
  left: 0;
}
.sidebar.closed{
  left: -100%
}
.sidebar-legend{
    display: flex;
    width: 100%;
    height: var(--space-3xl);

    padding: var(--space-md);
    
    align-items: center;
    justify-content: start;

    font-size: var(--font-xs);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
    color: var(--color-secondary-light);

    box-sizing: border-box;
}
.sidebar-item{
    display: flex;
    height: var(--space-3xl);

    align-items: center;
    justify-content: flex-start;

    padding: var(--space-md);
    gap: var(--space-sm);

    border-left: 0.2rem solid transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-secondary-light);

    box-sizing: border-box;

    transition: all 0.15s ease;
    cursor: pointer;
}
.sidebar-item:hover,

.sidebar-item i,
.sidebar-item label{
    font-size: var(--font-sm);
}

.sidebar-item.active{
  transform: translateX(5px);

  color: var(--color-contrast);
  background-color: var(--color-accent);
}
/* --- Content Title */
.contentTitle{
    display: flex;

    flex-direction: column;

    margin-bottom: var(--space-lg);

    font-size: var(--font-lg);
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary);
}
.contentTitle *{
    margin: 0;
}
.contentTitle p{
    font-size: var(--font-md);
    color: var(--color-secondary);
}

/* --- Content --- */
.content{
  grid-row: 2;
  grid-column: 2;

  padding: var(--space-md);

  background-color: var(--background-primary);

  overflow-x: hidden;
}

.content > * {
    animation: fade-up 0.4s ease-out forwards;
}

/* --- Buttons --- */
.button-container{
  display: flex;

  gap: var(--space-sm);

  justify-content: center;
}
.button-container.vertical{
  flex-direction: column;
}
.button-container.vertical button{
  justify-content: left;
}
.search-tabs-container{
  display: flex;

  align-items: center;

  margin-bottom: var(--space-sm);
  gap: var(--space-sm);
}
.search-tabs-container button{
  margin: 0;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-warning, .btn-success, .btn-submit{
  font-weight: bold; 

  padding-inline: var(--space-md);
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);

  color: var(--color-contrast);
  background-color: var(--color-accent);
}
.btn-submit{
  padding-inline: var(--space-lg);

  font-size: var(--font-md);

  margin: auto;
}
.btn-secondary{
  background-color: var(--color-neutral);
}
.btn-success{
  background-color: var(--color-success);
}
.btn-danger{
  background-color: var(--color-danger);
}
.btn-warning{
  background-color: var(--color-warning);
  color: var(--color-primary);
}
.btn-transparent{
  color: var(--color-contrast);
  background-color: transparent;
}
.btn-homebar{
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--font-xs);

  padding: var(--space-lg);
  margin: 0;

  color: var(--color-primary);
  background-color: transparent
}
.btn-homebar i{
  font-size: var(--font-lg);
}
.btn-homebar.active{
  background-color: var(--background-primary);
}
.btn-homebar.active i{
  color: var(--color-accent);
}

/* -- Special Buttons -- */
.btn-acciones{
  display: flex;
  font-weight: bold; 

  padding-inline: var(--space-sm);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  gap: var(--space-sm);

  font-size: var(--font-sm);

  color: var(--color-contrast);
  background-color: var(--color-neutral);
}
.btn-accion, .accion{
  width: 100%;
  display: flex;

  text-align: left;
  justify-content: left;
  align-items: center;
  
  padding: var(--space-sm);
  padding-inline: var(--space-md);
  
  background-color: transparent;
}
.accion{
  margin: 0;
}
.a-accion{
  padding: 0;
}
.btn-accion:hover{
  background-color: var(--background-secondary);
}

.btn-navigation{
  font-weight: bold;

  padding-inline: var(--space-md);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);

  border: var(--border-width-xs) solid var(--border-primary);

  color: var(--color-secondary);
  background-color: transparent;
}
.btn-navigation:disabled{
  color: var(--color-secondary);
  opacity: 0.25;

  cursor: not-allowed;
}

.button-switch-container{
  display: flex;

  gap: var(--space-sm);
}
.btn-switch{
  position: relative;
  width: 40px;
  height: 20px;

  border-radius: 10px;
  border: 1px solid var(--border-input);

  cursor: pointer;
}
.btn-switch.active{
  background-color: var(--color-accent-light);
}
.btn-switch-bubble{
  position: absolute;
  left: 2px;
  width: 16px;
  height: 16px;

  border-radius: 50%;

  background-color: var(--background-secondary);
  transition: left 0.2s;
}
.btn-switch.active .btn-switch-bubble{
  left: 20px
}

/* --- Inputs --- */
.input-container{
  display: flex;
  width: 350px;
  height: 40px;

  align-items: center;
  justify-content: left;

  padding-inline: var(--space-sm);
  gap: var(--space-sm);

  border: var(--border-width-sm) solid transparent;

  font-size: var(--font-sm);

  background-color: var(--background-secondary);
}
.input-container:focus-within{
  border: var(--border-width-sm) solid var(--color-accent);
}
.input-container input{
  flex: 1;
  height: 100%;

  font-size: var(--font-sm);

  border: 0;
  background-color: transparent;
}

/* --- Form --- */
.form-container{
    width: 90%;

    margin: auto;

    background-color: var(--background-secondary);
}

.form-section-header{
    display: flex;

    align-items: center;
    justify-content: left;

    gap: var(--space-sm);
    padding: var(--space-md);

    border-top-left-radius: var(--border-lg);
    border-top-right-radius: var(--border-lg);

    font-weight: 500;

    color: var(--color-contrast);
    background-color: var(--background-contrast);
}
.form-section-header.light{
    background-color: var(--background-primary);
    color: var(--color-primary);
}

.form-section-header i{
    color: var(--color-accent-light);
}

.form-section-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: var(--space-md);

    padding: var(--space-md);
}

/* Form Fields */
.form-field{
  grid-column: span 2;
  display: flex;
  
  flex-direction: column;

  padding: var(--space-md);

  border: var(--border-width-xs) solid var(--border-input);
  background-color: var(--input-background);
}
.form-field i{
    font-size: var(--font-sm);
}
.form-field label{
    margin-bottom: var(--space-sm);

    font-size: var(--font-sm);
    font-weight: 500;
}
.form-field-input-container{
    display: flex;
    align-items: center;

    padding-inline: var(--space-xs);

    border: var(--border-width-xs) solid var(--border-input);
    border-radius: var(--border-radius-xl);
    background-color: var(--background-secondary);
}
.form-field-input-container:focus-within{
  border: var(--border-width-xs) solid var(--color-accent);
}
.form-field input, .form-field select, .form-field textarea{
    flex: 1;
    max-width: 100%;
    
    padding: var(--space-xs);
    font-size: var(--font-sm);
    
    border: none;
    outline: none;
    background-color: transparent;
}

/* Primary */
.form-field.primary{
    grid-column: span 6;
    border-left: var(--border-width-md) solid var(--color-accent);

    background-color: var(--input-background-primary);
}
.form-field.primary label, .form-field.primary i, .form-field.primary input, .form-field.primary select, .form-field.primary textarea{
    color: var(--color-accent);
    font-size: var(--font-sm);
    font-weight: 600;
}
.form-field.primary input, .form-field.primary select, .form-field.primary textarea{
    color: var(--color-primary);
    font-weight: 400;
    font-size: var(--font-md);
}
/* Sizes */
.form-field.half{
    grid-column: span 3;
}
.form-field.full{
    grid-column: span 6;
}
/* Success */
.form-field.success{
    border-left: var(--border-width-md) solid var(--color-success);
}
.form-field.success label, .form-field.success i, .form-field.success input, .form-field.success select, .form-field.success textarea{
    font-weight: 600;
    color: var(--color-success);
}

.form-button-container {
  display: flex;

  justify-content: center;
  align-items: center;

  padding-bottom: var(--space-md);
}

/* ----- Dashboard ----- */
.menu-container{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

.menu-button{
  display: flex;

  flex-direction: column;

  font-size: var(--font-sm);

  background-color: var(--background-secondary);
}
.menu-button-header{
  width: 100%;
  display: flex;
  
  align-items: center;

  gap: var(--space-md);
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}
.menu-button-header i{
  font-size: var(--font-2xl);

  padding: var(--space-md);
  border-radius: var(--border-lg);

  color: var(--color-contrast);
}
.menu-button-title{
  display: flex;

  flex-direction: column;
  text-align: left;
}
.menu-button-title h2{
  font-weight: 600;
  margin: 0;
}
.menu-button-title span{
  color: var(--color-secondary);
}
.menu-button-footer{
  display: flex;
  width: 100%;
  height: 30px;

  justify-content: space-between;
  align-items: center;

  margin-bottom: auto;
  padding: var(--space-sm);
  padding-inline: var(--space-md);

  color: var(--color-secondary);
  background-color: var(--background-accent);
  box-sizing: border-box;
}

/* --- Caja Chica --- */
.stat-cards{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}
.stat-card-container{
  display: flex;

  flex-direction: column;
  text-align: left;
  align-items: flex-start;

  margin-bottom: auto;
  padding: var(--space-md);
  padding-inline: var(--space-xl);

  border-left: var(--border-sm) solid transparent;

  font-size: var(--font-sm);

  background-color: var(--background-secondary);
}
.stat-header{
  width: 100%;
  display: flex;

  align-items: center;

  gap: var(--space-sm);
}
.stat-header h3{
  margin: 0;
}
.stat-header-actions{
  display: flex;

  gap: var(--space-xs);

  margin-left: auto;
}
.stat-header-actions button{
  padding: var(--space-sm);
  padding-inline: var(--space-md);

  font-size: var(--font-xs);
}
.stat-content{
  width: 100%;
  margin: 0;
}
.stat-value{
  display: flex;

  margin-bottom: var(--space-md);

  font-size: var(--font-3xl);
}
.stat-value div{
  display: flex;

  align-items: center;
}
.stat-value p{
  margin: 0;
}
.stat-summary{
  display: flex;

  flex-direction: column;

  gap: var(--space-sm);
}
.stat-summary-item{
  display: flex;

  justify-content: space-between;
}
.stat-summary-item p {
  margin: 0;
}
.stat-summary-item-title{
  display: flex;

  justify-content: center;
  align-items: center;

  gap: var(--space-xs);
}
.stat-summary-item-value{
  font-size: var(--font-md);
}

/* --- Extras --- */
.dropdown{
  width: 225px;
  position: absolute;
  top: 100%;
  right: 0;

  padding: var(--space-sm);
  padding-inline: var(--space-xs);

  border: 1px solid var(--border-primary);
  border-radius: var(--border-md);

  background-color: var(--background-secondary);

  z-index: 100;
}

.dropdown.drop-up {
  top: auto;
  bottom: 100%;
}


.empty{
  font-weight: 550;
  color: var(--color-secondary);
}

/* --- Animations --- */
@keyframes fade-up {
  from {
    opacity: 0.5;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}