<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- --- Ingresos --- -->
<div th:fragment="ingresos-table-content(ingresos)">
    <div class="table-wrapper">
        <div id="todosTable" class="table-switchable-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Monto</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(ingresos)}" th:each="ingreso : ${ingresos}">
                <tr>
                    <td th:text="${ingreso.monto}"></td>
                    <td th:text="${ingreso.fecha}"></td>
                </tr>
                </tbody>
                <tbody th:if="${#lists.isEmpty(ingresos)}">
                <tr>
                    <td colspan = 6 class="text-center text-muted">No hay ingresos el día hoy</td>
                </tr>
                </tbody>
            </table>
            <div class="pagination-container"></div>
        </div>
    </div>
</div>

</html>