<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Todos el historial -->
<div th:fragment="todos-table-content(usuarioAcciones)">
    <div class="table-wrapper">
        <div id="todosTable" class="table-switchable-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Acción</th>
                        <th>Fecha de Acción</th>
                    </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(usuarioAcciones)}">
                        <tr th:each="usuarioAccion : ${usuarioAcciones}">
                            <td>
                                <img th:if="${usuarioAccion.usuario.foto != null}" th:src="${usuarioAccion.usuario.foto}" class="table-user-avatar" alt="User Image"/>
                                <span th:text="${usuarioAccion.usuario.nombre + ' ' + usuarioAccion.usuario.apellido}"></span>
                            </td>
                            <td th:text="${usuarioAccion.accion != null ? @accionResolver.resolveAccion(usuarioAccion) : 'N/A'}"></td>
                            <td th:text="${#temporals.format(usuarioAccion.fecha.atZone(T(java.time.ZoneId).of('America/El_Salvador')), 'dd/MM/yyyy hh:mm a')}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(usuarioAcciones)}">
                    <tr>
                        <td colspan="3" class="text-center text-muted">El historial está vacío</td>
                    </tr>
                    </tbody>
                </table>
            <div class="pagination-container"></div>
        </div>
    </div>
</div>

<!-- Hoy historial -->
<div th:fragment="hoy-table-content(usuarioAcciones)">
    <div class="table-wrapper">
        <div id="hoyTable" class="table-switchable-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Acción</th>
                        <th>Fecha de Acción</th>
                    </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(usuarioAcciones)}">
                        <tr th:each="usuarioAccion : ${usuarioAcciones}">
                            <td>
                                <img th:if="${usuarioAccion.usuario.foto != null}" th:src="${usuarioAccion.usuario.foto}" class="table-user-avatar" alt="User Image"/>
                                <span th:text="${usuarioAccion.usuario.nombre + ' ' + usuarioAccion.usuario.apellido}"></span>
                            </td>
                            <td th:text="${usuarioAccion.accion != null ? @accionResolver.resolveAccion(usuarioAccion) : 'N/A'}"></td>
                            <td th:text="${#temporals.format(usuarioAccion.fecha.atZone(T(java.time.ZoneId).of('America/El_Salvador')), 'dd/MM/yyyy hh:mm a')}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(usuarioAcciones)}">
                    <tr>
                        <td colspan="3" class="text-center text-muted">El historial está vacío</td>
                    </tr>
                    </tbody>
                </table>
            <div class="pagination-container"></div>
        </div>
    </div>
</div>

<!-- Semana historial -->
<div th:fragment="semana-table-content(usuarioAcciones)">
    <div class="table-wrapper">
        <div id="semanaTable" class="table-switchable-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Acción</th>
                        <th>Fecha de Acción</th>
                    </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(usuarioAcciones)}">
                        <tr th:each="usuarioAccion : ${usuarioAcciones}">
                            <td>
                                <img th:if="${usuarioAccion.usuario.foto != null}" th:src="${usuarioAccion.usuario.foto}" class="table-user-avatar" alt="User Image"/>
                                <span th:text="${usuarioAccion.usuario.nombre + ' ' + usuarioAccion.usuario.apellido}"></span>
                            </td>
                            <td th:text="${usuarioAccion.accion != null ? @accionResolver.resolveAccion(usuarioAccion) : 'N/A'}"></td>
                            <td th:text="${#temporals.format(usuarioAccion.fecha.atZone(T(java.time.ZoneId).of('America/El_Salvador')), 'dd/MM/yyyy hh:mm a')}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(usuarioAcciones)}">
                    <tr>
                        <td colspan="3" class="text-center text-muted">El historial está vacío</td>
                    </tr>
                    </tbody>
                </table>
            <div class="pagination-container"></div>
        </div>
    </div>
</div>

<!-- Mes el historial -->
<div th:fragment="mes-table-content(usuarioAcciones)">
    <div class="table-wrapper">
        <div id="mesTable" class="table-switchable-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Acción</th>
                        <th>Fecha de Acción</th>
                    </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(usuarioAcciones)}">
                        <tr th:each="usuarioAccion : ${usuarioAcciones}">
                            <td>
                                <img th:if="${usuarioAccion.usuario.foto != null}" th:src="${usuarioAccion.usuario.foto}" class="table-user-avatar" alt="User Image"/>
                                <span th:text="${usuarioAccion.usuario.nombre + ' ' + usuarioAccion.usuario.apellido}"></span>
                            </td>
                            <td th:text="${usuarioAccion.accion != null ? @accionResolver.resolveAccion(usuarioAccion) : 'N/A'}"></td>
                            <td th:text="${#temporals.format(usuarioAccion.fecha.atZone(T(java.time.ZoneId).of('America/El_Salvador')), 'dd/MM/yyyy hh:mm a')}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(usuarioAcciones)}">
                    <tr>
                        <td colspan="3" class="text-center text-muted">El historial está vacío</td>
                    </tr>
                    </tbody>
                </table>
            <div class="pagination-container"></div>
        </div>
    </div>
</div>


</html>