.modal-backdrop{
    position: absolute;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 100;
}

.modal-container{
    max-width: 80%;
    max-height: 90vh;
    position: absolute;
    display: flex;

    text-align: center;
    flex-direction: column;
    align-items: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9); /* start smaller */
    opacity: 0.9;

    padding: var(--space-lg);

    border-radius: var(--border-lg);

    background-color: white;
    z-index: 200;
    
    animation: grow-in 100ms ease forwards;
}

@keyframes grow-in {
    from {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0.9;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes grow-out {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.75);
        opacity: 0.9;
    }
}

@keyframes grow-out-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal-header{
    display: flex;
    
    flex-direction: column;

    font-size: var(--font-md);
}
.modal-header h1{
    margin-top: 0;
}
.modal-icon{
    font-size: var(--font-6xl);
}
.modal-content{
    margin-bottom: var(--space-md);
    overflow-y: scroll;
}

.modal-footer{
    display: flex;

    align-items: center;
    gap: var(--space-md);

    margin-top: auto;
}