/* --- Table Container --- */
.table {
  display: flex;
  flex-direction: column;
  
  margin-inline: auto;

  border: var(--border-width-xs) solid rgba(255,255,255,0.3);
  border-radius: var(--border-md);

  background-color: rgba(17,52,109,0.6); /* azul oscuro con transparencia */
  backdrop-filter: blur(8px); /* efecto blur */
  color: rgb(255,255,255);

  box-sizing: border-box;
}

/* --- Table Rows --- */
.tr {
  display: flex;
  width: 100%;
  color: rgb(255,255,255);
}
.tr:hover{
  box-shadow: inset 0 0 0 var(--border-width-sm) rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.05);
}
.tr.selected-row {
  background-color: rgba(255,255,255,0.15);
}
.header{
  background-color: rgba(17,52,109,0.7); /* más opaco */
  border-top-left-radius: var(--border-md);
  border-top-right-radius: var(--border-md);
}

/* --- Table Cells --- */
.th,
.td {
  box-shadow: inset 0 0 0 0.5px rgba(255,255,255,0.2);
  color: rgb(255,255,255);
}
.column-centered{
  display: flex !important;
  text-align: center;
  justify-content: center !important;
}

.flex-grow {
  flex: 1;
}

/* --- Table Header Cells --- */
.th span{
  color: rgb(255,255,255);
  font-weight: 500;
}
.th, .td {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: var(--space-md);
  font-size: var(--font-sm);
  font-family: 'Poppins', sans-serif;  
  text-transform: uppercase;
  box-sizing: border-box;
}

.th {
  display: flex;
  justify-content: left;
  color: rgb(255,255,255);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  gap: var(--space-xs);
  font-weight: 600;
}
.th i{
  font-size: var(--font-xs);
  cursor: pointer;
  color: rgb(255,255,255);
}

/* --- Pagination --- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm);
  gap: var(--space-sm);
  font-size: var(--font-sm);
  color: rgb(255,255,255);
}

/* --- Tabs --- */
.tabs-container{
  display: flex;
  gap: var(--space-xs);
}
.inactive-tab {
  font-weight: 500;
  min-width: 100px;
  color: rgb(255,255,255);
  border: var(--border-width-xs) solid rgba(255,255,255,0.3);
}
.active-tab{
  transform: scale(0.975);
  min-width: 100px;
  font-weight: 500;
  color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.2);
}

/* --- General --- */
.A_PLUS,
.A,
.B,
.C,
.D,
.Pendiente,
.Vencido,
.Rechazado,
.Pagado,
.Aceptado,
.EnRevision,
.Finalizado {
  font-weight: 600;
  color: rgb(255,255,255);
}

.badge.Pendiente {
  background-color: rgba(255,255,255,0.15);
  color: rgb(255,255,255);
}
.badge.Realizado, .badge.Pagado, .badge.Aceptado{
  background-color: rgba(255,255,255,0.2); 
  color: rgb(255,255,255);
}
.badge.Vencido, .badge.Rechazado{
  background-color: rgba(255,255,255,0.25); 
  color: rgb(255,255,255);
}
.badge.EnRevision, .badge.Finalizado{
  background-color: rgba(255,255,255,0.2);
  color: rgb(255,255,255);
}
